@import url('https://fonts.googleapis.com/css?family=Exo+2|Iceland');
html body {
  margin:0 auto;
  padding:0;
  font-family: 'Exo 2', sans-serif;
  color:#fff;
}
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(bg.jpg) no-repeat;
    background-size: cover;
}
video#bgvid {
    transition: 1s opacity;
}
.stopfade { opacity: .5; }
body {
  color:#fff;
}
body.landing {
  background:url('landing.png') center center fixed no-repeat;
  background-size:cover;
}
body.join {
  background:url('join.jpg') center center fixed no-repeat;
  background-size:cover;
}
body.about {
  background:url('about.jpg') center center fixed no-repeat;
  background-size:cover;
}
.logo {
  font-size:80px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.nav {
    background:rgba(0,0,0,0.5);
    position: absolute;
    top:0;
    left:50%;
    transform:translate(-51%);
    width:100%;
    margin:0 auto;
    display:flex;
    justify-content: space-around;
}
.nav li{
  flex:1;
  text-align:center;
  list-style: none;
  font-size:20px;
}
.nav li a{
  color:#fff;
  text-decoration: none;
  display:block;
  padding:20px 0px;
}
.nav li a:hover{
background:rgba(255,255,255,0.2);
}
.hero {
  width:100%;
  font-family: 'Iceland', sans-serif;
  text-transform: uppercase;
  text-align:center;
  font-size:80px;
  position:absolute;
  top:49%;
  left:50%;
  transform: translate(-50%,-50%);
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
.box {
  position: absolute;
  top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border:1px solid #000;
    background:rgba(0,0,0,0.8);
    padding:30px;
}
.wyltkm {
  background:rgba(0,0,0,0.5);
  position: absolute;
  bottom:0;
  left:50%;
  transform:translate(-50%);
  width:100%;
  padding-top:20px;
  padding-bottom:20px;
    font-family: 'Iceland', sans-serif;
  text-align:center;
  font-size:40px;
}
h2 {
  text-align:center;
  border-bottom:1px solid #fff;
  margin-top:0;
  padding-bottom:20px;
}
