@import url('https://fonts.googleapis.com/css?family=Exo+2|Iceland');
html body {
  margin:0 auto;
  padding:0;
  font-family: 'Exo 2', sans-serif;
  vertical-align: middle;
}

#spreadsheet {
  width:100vw;
  height:100vh;
}
.currentrow {
  background:rgba(0,0,255,0.4);
}
.ht_master {
  border:0px;
  vertical-align: middle;
}
.ht_clone_top_left_corner th {
  border: 0px solid #F00;
}
/* Bottom */
.ht_master tr > td {
  border: 0px solid #F00;
  vertical-align: middle;
}

/* Right */
.ht_master tr > td {
  border: 0px solid #F00;
}
.ht_clone_top_left_corner th {
  border: 0px solid #F00;
}
/* Row headers */
/* Bottom */
.ht_clone_top_left_corner th {
  border: 0px solid #F00;
}

/* Left and right */
.ht_clone_left th {
  border: 0px solid #F00;
}

/* Column headers */
/* Top, bottom and right */
.ht_clone_top th {
  border: 0px solid #F00;
}

/* Left */
.ht_clone_top_left_corner th {
  border: 0px solid #F00;
}
